@import 'shop.css';

body {
    background-image: url("https://img.etimg.com/thumb/msid-69306405,width-643,imgsize-1079862,resizemode-4/coffee.jpg");
    background-color: #c9b7a3
   }

h1 {
    background-color: #72a395;
    border: 1px solid #72a395;
    border-radius: 5%;
    color: whitesmoke;
    font-family: 'Fascinate Inline', cursive;
    font-size: 50px;
    margin: 20px;
    text-align: center;
}






